<ion-header>
    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="t">MI HISTORIAL DE PEDIDOS</h4>
   <ion-item></ion-item>
    <ion-list>
        <ion-card class="ca">
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-start">Id proveedor:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-lg-end"><u>Ver más</u></ion-text>
            </div>
        </ion-card>
    </ion-list> 
    <ion-list>
        <ion-card class="ca">
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-start">Id proveedor:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <br>
            <div>
                <ion-text class="ion-text-lg-end"><u>Ver más</u></ion-text>
            </div>
        </ion-card>
    </ion-list>
    <br>
   

</ion-content>