.icon1 {
    font-size: 40px;
    color: rgb(24, 23, 23);
}

.button {
    border-radius: 100px;
    height: 25px;
    width: 150px;
}

.icon2 {
    font-size: 40px;
    color: rgb(7, 7, 7);
}

.seach {
    border-radius: 100px;
}

.titulo {
    text-align: center;
}

.text {
    text-align: center;
}

.slide {
    height: 150px;
}

.card {
    height: 160px;
}

.card1 {
    height: 160px;
    width: 130px;
    align-content: center;
}

.img {
    height: 90px;
    width: 80px;
}

.imgslide {
    height: 160px;
    width: 160px;
    align-self: flex-end;
}

.imgslide2 {
    height: 120px;
    width: 120px;
    align-self: flex-end;
}

.ca{
    height: 350px;
}
#pe {
    width: 96%;
    height: 65%;
}

.ep {
    border-radius: 10px !important;
    background-color:rgb(235, 235, 235);
    height: 100%;
}