<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <h1><b>De Mercado</b></h1>
            </ion-label>
            <ion-toggle slot="end" value="pepperoni" ></ion-toggle>
        </ion-item>
    </ion-list>
    <br>

    
        <ion-card class="ca" > 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br>
            <ion-row>
                <ion-col>
                    <ion-button class="button" color="medium">Entregado</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Paquete recogido</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-row>
            <ion-col>
              <ion-row class="ion-padding-start"><ion-label>Envios:</ion-label></ion-row>
              <ion-row class="ion-padding-start" id="pe">
                <ion-input type="button" class="ep"></ion-input>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-padding-start"><ion-label>Monto total:</ion-label></ion-row>
              <ion-row class="ion-padding-start" id="pe">
                <ion-input type="button" class="ep"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col>
                <br>
                <ion-row class="ion-padding-start" id="pe">
                  <ion-input type="" class="ep" placeholder="RETARDO"></ion-input>
                </ion-row>
              </ion-col>
          </ion-row>

    
</ion-content>